<h1><%= @player1.name %> vs. <%= @player2.name %></h1>

<h2><%= @player1.name %>:<span id="player1_hp"> HP <%= @player1.health %></span></h2>
<h2><%= @player2.name %>:<span id="player2_hp"> HP <%= @player2.health %></span></h2>

<h3><%= @attack_message %></h3>

<h3>Its <%= $game.current_player.name %>'s turn to attack.</h3>

<form action="/attack" method="post">
  <button type="submit" name="attack">attack</button>
</form>
